@font-face {
    font-family:"Decker";
    src:
    url("../fonts/Decker/Decker.eot?") format("eot"),
    url("../fonts/Decker/Decker.woff") format("woff"),
    url("../fonts/Decker/Decker.ttf") format("truetype"),
    url("../fonts/Decker/Decker.svg#") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Caviar Dreams";
    src:
    url("../fonts/Caviar_Dreams_Bold/CaviarDreams_Bold.eot?") format("eot"),
    url("../fonts/Caviar_Dreams_Bold/CaviarDreams_Bold.woff") format("woff"),
    url("../fonts/Caviar_Dreams_Bold/CaviarDreams_Bold.ttf") format("truetype"),
    url("../fonts/Caviar_Dreams_Bold/CaviarDreams_Bold.svg#") format("svg");
}

@media only screen and (max-width: 720px) {

    body{
        overflow-x: hidden !important;
    }
       
    .intro-container{
        height: 60vh !important;
        width: 100vw !important;
    }
    
    .intro{
        margin: 0% !important;
        width: 95vw !important;
        padding: 0% !important
    }
    
    .head-intro{
        font-size: 2em !important;
    }
    
    .subhead-intro{
        font-size: 1.2em !important;
    }
    
    .servicos-container{
        height: 40vh !important;
    }
    
    .grow{
        font-size: 1.0em !important;
        line-height: 20vh !important; 
        height: 20vh !important;
    }
       
    .frame-servico{
        height: 20vh !important;
    }
    
    .span-servico{
        font-size: 1.5em !important;
        width: 50vw !important;
    }
    
    .servico-1{
        width: 50vw !important;
    }
    
    .servico-2{
        width: 50vw !important;
    }
    
    .servico-3{
        width: 50vw !important;
    }
    
    .servico-4{
        width: 50vw !important;
    }
    
    .pitch{
        height: 60vh !important;
    }
    
    .pitch-1{
        width: 100vw !important;
        height: 30vh !important;
        margin-left: 0% !important;
        margin-top: 5vh !important;
    }
    
    .video-frame{
        width: 95vw !important;
        height: 30vh !important;
    }
    
    .pitch-2{
        width: 100vw !important;
        height: 25vh !important;
        text-align: center !important;
    }
    
    .span-pitch{
        margin-top: 10% !important;
        text-align: center !important;
    }
    
    .download{
        width: 100vw !important;
    }
    
    .download-1{
        margin-left: 0% !important;
        width: 100vw !important;
        background-position: bottom !important;
    }

    .badge-download{
        margin-top: 90px !important;
    }
            
    .download-2{
        display: none;
    }
    
    .footer{
        background-color: black;
    }
    
    .footer-1{
        width: 80vw !important;
        margin-left: 10vw !important;
    }
    
    .footer-2{
        width: 80vw !important;
        margin-left: 10vw !important;
        margin-right: 0vw !important;
    }

} 

body{
    font-family: 'Decker';
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

span{
    font-family: 'Decker';
}

.intro-container{
    height: 70vh;
    background-image: url("../images/intro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.intro{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 15px;
    text-align: center;
}

.head-intro{
    color: white;
    font-size: 3em;
}

.subhead-intro{
    color: white;
    font-size: 1.5em;
}

.servicos-container{
    height: 30vh;
}

.grow{
    text-align: center;
    font-size: 1.2em;
    line-height: 250px;
}

/* .grow:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} */

.frame-servico{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    color: white;
    border: 3px solid #f1f1f1;
    text-align: center;
    height: 30vh;
}

.span-servico{
    font-size: 2em;
    font-family: 'Caviar Dreams' ;
}

.servico-1{
    background-image: url("../images/servico-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.servico-2{
    background-image: url("../images/servico-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.servico-3{
    background-image: url("../images/servico-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.servico-4{
    background-image: url("../images/servico-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pitch{
    height: 300px;
}

.pitch-1{
    text-align: center;
    margin-left: 10vw;
    width: 40vw;
}

.video-frame{
    width: 470px;
    height: 300px;
    margin-top: 2%;
}

.pitch-2{
    width: 40vw;
    line-height: 315px;
    font-size: 1.5em;
}

.span-pitch{
    display: inline-block;
    margin-top: 20%;
    vertical-align: middle;
    line-height: normal;   
    text-align: left;
    text-shadow: 1px 1px white;
}

.download{
    height: 500px;
    width: 100vw;
    text-align: center;
}

.download-1{
    margin-left: 10vw;
    width: 40vw;
    line-height: 250px;
    text-align: center;
    font-size: 1.5em;
    background-image: url("../images/cat.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.span-download{
    font-size: 1.5em;
}

.badge-download{
    height: 100px;
    width: auto;
    margin-top: 40px;
}

.download-2{
    width: 40vw;
    background-image: url("../images/phone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer{
    background-color: black;
}

.footer-1{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10vh;
    text-align: center;
    width: 40vw;
}

.footer-2{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10vh;
    text-align: center;
    width: 40vw;
}

.span-margin{
    margin-top: 2%;
}

